<br>
<h1><%= @wiki.title %></h1><br>
<%= link_to "Back", wiki_index_path %> -
<%= link_to "Edit", edit_wiki_path(@wiki)%> -
<%= link_to "Delete", @wiki, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this wiki?'} %><br>
<br><br>

<%= @wiki.body %>
