<h1>Edit Wiki</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for wikis</p>
    <ul>
      <li>Don't use curse words</li>
      <li>Include accurate information only.</li>
      <li>The incessant use of hashtags will get you banned.</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= form_for @wiki do |f| %>
      <%= f.label :title %><br>
      <%= f.text_field :title, placeholder: "Enter wiki title" %><br><br>

      <%= f.label :body %>
      <%= f.text_area :body, class: 'form-control', placeholder: "Enter wiki body" %><br><br>

      <h4>Current Collaborator(s): </h4>
      <div style="margin-left:30px;">
        <% @wiki.collaborations.each do |c| %>
          <div class="row">
            <%= link_to 'X', '#', method: :delete, class: "btn btn-danger btn-xs" %> <%= c.user.email %>
          </div>
        <% end %>
      </div><br><br>

      <%= f.label :collaborations %>
      <!-- check out decorator gem -->
      <%= f.select :collaborations, @wiki.find_users, class: 'form-control', placeholder: "Enter collaborators" %>

      <%= button_to "Update Collaborators", action: "update" %><br>

      <%= f.check_box :private %> Private Wiki<br><br>

      <%= f.submit "Update", class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
