<h1><%= @wiki.markdown_title %></h1>
<h4>Created by <%= @wiki.user.email %></h4><br>
<%= link_to "Back", wikis_path, class: 'btn btn-primary' %> -
<%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-primary' %> -
<%= link_to "Delete", @wiki, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this wiki?'} %><br><br>
Private Wiki: <% if @wiki.private %>
                <input type="checkbox" checked="checked">
              <% else %>
                <input type="checkbox">
              <% end %>

<br><br>

<%= @wiki.markdown_body %><br><br>
