<h4>Current Collaborator(s): </h4>
<div style="margin-left:30px;">
  <% wiki.collaborations.each do |c| %>
    <div class="row">
      <%= link_to 'X', wiki_collaboration_path(wiki_id: wiki.id), class: "btn btn-danger btn-xs"%> <%= c.user.email %>
    </div>
  <% end %>
</div><br><br>

<%= form_for [wiki, Collaboration.new] do |c| %>
  <%= c.select :user, wiki.find_users, :include_blank => true, class: 'form-control' %><br><br>

  <%= c.submit "Add Collaborator", class: 'btn btn-primary' %>
  <br><br><br>
<% end %>
